<div class="wrapper">
  <div class=" col_1">
    <div class="field">
      <div class="label">사업장 코드</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.TENANT" laceholder="Enter full name here...">
        </dx-text-box>
      </div>
    </div>
    <div class="field">
      <div class="label">거래처 유형</div>
      <div class="value">
        <dx-select-box [(value)]="dataObject.TYPEOWNER" [showClearButton]="true">
        </dx-select-box>
      </div>
    </div>
  </div>
  <div class="col_2">
    <div class="field">
      <div class="label">거래처 코드</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.PTNKEY" placeholder="Enter full name here...">
        </dx-text-box>
      </div>
    </div>
    <div class="field">
      <div class="label">정식명칭</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.PTNRNM" placeholder="Enter full name here...">
        </dx-text-box>
      </div>
    </div>

  </div>
  <div class="col_3">
    <div class="field">
      <div class="label">사용여부</div>
      <div class="value">
        <dx-select-box [(value)]="dataObject.ACTFLG" [showClearButton]="true">
        </dx-select-box>
      </div>
    </div>
    <div class="field">
      <div class="label">유통채널</div>
      <div class="value">
        <dx-select-box [(value)]="dataObject.BSNUMBER" [showClearButton]="true">
        </dx-select-box>
      </div>
    </div>
  </div>
</div>
