<div class="wrapper">
  <div class="col_1">
    <div class="field">
      <div class="label">companyName</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.companyName" placeholder=""> </dx-text-box>
      </div>
    </div>
    <div class="field">
      <div class="label">name</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.name" placeholder=""> </dx-text-box>
      </div>
    </div>
  </div>
  <div class="col_2">
    <div class="field">
      <div class="label">phone1</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.phone1" placeholder=""> </dx-text-box>
      </div>
    </div>
    <div class="field">
      <div class="label">phone2</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.phone2" placeholder=""> </dx-text-box>
      </div>
    </div>
  </div>

  <div class="col_3">
    <div class="field">
      <div class="label">address1</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.address1" placeholder=""> </dx-text-box>
      </div>
    </div>
    <div class="field">
      <div class="label">address2</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.address2" placeholder=""> </dx-text-box>
      </div>
    </div>
  </div>
</div>