<div class="wrapper">
    <div class="col_1">
        <div class="field">
            <div class="label">입고번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.RCVNUM"> </dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="label">P/O번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.PCODNM"> </dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="label">MALLID</div>
            <div class="value">
                <dx-select-box placeholder="Choose Product" [(value)]="dataObj.MALLID" [items]="mallIdComboDataSource"
                    [showClearButton]="true"></dx-select-box>
            </div>
        </div>
        <div class="field">
            <div class="label">온라인 P/O번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.OORDID"> </dx-text-box>
            </div>
        </div>
    </div>
    <div class="col_2">
        <div class="field">
            <div class="label">입고접수번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.RCODNM"> </dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="label">B/L번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.BOLNUM"> </dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="label">주문자ID</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.USERID"> </dx-text-box>
            </div>
        </div>
    </div>
    <div class="col_3">
        <div class="field">
            <div class="label">ERP전표번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.ERPNUM"> </dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="label">INVOICE번호</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.INVNUM"> </dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="label">주문자</div>
            <div class="value">
                <dx-text-box placeholder="" [(value)]="dataObj.USNAME"> </dx-text-box>
            </div>
        </div>
    </div>
</div>