<div class="wrapper">
  <div class="col_1">
    <div class="field">
      <div class="label">코드</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.SKUKEY" placeholder="Enter full name here...">
        </dx-text-box>
      </div>
    </div>
  </div>
  <div class="col_2">
    <div class="field">
      <div class="label">품명</div>
      <div class="value">
        <dx-text-box [(value)]="dataObject.SKUNAM" [showClearButton]="true">
        </dx-text-box>
      </div>
    </div>
  </div>
</div>